body {
background-color: #d3ffce;
font-family: 'Bangers', cursive;
text-align: center;
justify-content: center;
align-items: center;
}

#film-container {
  text-align: center;
}

#film-select {
  font-family: 'Bangers', cursive;
}

.drop-down {
  font-family: 'Bangers', cursive;
  background-color: #92938B;
  outline: none;
}

.drop-down:hover {
  color: #835F27;
}
select:active, select:hover {
  outline: none;
}

.drop-down option:hover{
  background: #835F27;
}
